html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  margin: 0;
  align-items: center;
  color: #fff;
  order: 0;
}

.grains {
  max-height: 40px;
  justify-content: space-between;
  display: flex;
  margin: 0;
  text-align: center;
  padding: 0;
}

img:first-child {
  float: left;
  display: inline;
  align-items: flex-start;
  order: -1;
}

img:last-child {
  float: right;
  flex-direction: row;
  align-items: flex-end;
  display: inline;
  order: 1000;
}

img {
  max-width: 40px;
  margin: 0;
}

header {
  background-color: #d05c2e;
  padding: 0;
}

nav {
  display: inline;
  list-style-type: none;
}

nav a {
  font-weight: normal;
  border: 1px solid #a63f38;
  display: flex;
  padding: .5em 1em;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #a63f38;
}

.food {
  margin: 0;
  justify-content: center;
  padding: .5em 0;
  display: flex;
}

.food > li {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
}

body {
  margin: 0;
}
